header {
  @media (min-width:941px) { padding:80px; gap:80px; }
  @media (max-width:940px) { padding:40px; gap:40px; }
  h1 { text-align: center;  font-size:20vw; color:$white; line-height: 80%; text-transform: uppercase; color:transparent; letter-spacing: 0.02em;  -webkit-text-stroke-width: 3px; -webkit-text-stroke-color: white; margin:unset; }
}