header { padding:$gap;
  .inner { @include inner(1280px,0); }
  h1 { font-family: $font-family; font-size:clamp(32px,7vw,80px); margin:0; line-height: 0.95; font-weight: 612;  }
  a.next-race { text-decoration: underline; text-decoration-thickness: 0.12em; text-underline-offset: 0.15em; transition: all 0.1s linear; cursor: pointer; font-weight: 612;
    &:hover, &:focus { text-decoration-thickness: 0.2em; }
  }
  .when { font-size:clamp(24px,6vw,60px); }
}