.race-grid { display:grid; gap:$gap; padding:$gap;  //grid-template-columns: repeat(2,1fr);
  &.inner { max-width: $max-width; margin-left: auto; margin-right: auto; }
}

section.race { background: $black; color:$white; border-radius: 1.5vw; 
  @media (min-width:601px) { padding:40px; }
  @media (max-width:600px) { padding:20px; }
  max-width: 100%; overflow: hidden;
  .top-info { display:flex; gap:20px; font-weight: 700; 
    font-size:clamp(16px,2vw,28px);
    span { display: inline-flex; height:1.25em; line-height: 130%; }
    .label-and-count { display:flex; gap:10px; padding:0.25em 0.5em; }
    .count { background:$white; color:$black; }
    .round-holder {
      .label-and-count { background:$red; border-radius: 6px; }
      .count { color:$red; line-height: 80%; padding:0.25em 0.5em; border-radius: 6px; font-family: $number-font; font-size: 70%; border-radius: 1.25em; transform: translateY(0.3em); padding: 0 0.5em; line-height: 127%; }
    }
    .round-badge { background:$red; border-radius: 6px;}
    .line-holder { flex-grow: 10; display:flex; align-items: center; }
    .line { height:2px; width:100%; background:$white; }
    .laps-holder { display:flex; gap:10px;
      .count { color:$black; padding:0.5em; height:1.25em; border-radius: 6px; font-family: $number-font; line-height: 35%; }
      @media (max-width:620px) { 
        .label { display:none; }
      }
    }
  }
  .big { position: relative; margin-bottom: $gap;
    .title-holder {  padding-top:$gap;
      position: relative; z-index: 5;
    }
    .title { font-variation-settings: "wdth" 25; padding-top:0.15em; white-space: nowrap; text-transform: uppercase; line-height: 0.75; font-weight: normal; letter-spacing: 0.01em; transform: scaleY(120%); margin:unset;
      transition: font $raceAnimation ease-in-out;
      font-size:clamp(48px,22vw,330px);
    }
    .track-holder { @include position(absolute,25%,0,0); width:40%; transition: transform 0.15s ease-out; transform-origin: center; z-index: 3;
      img { width:100%; height: 100%; object-fit: contain; object-position: center right; opacity: 0; transition: opacity 0.3s linear; }
      
      transform: scale(0.75); transform-origin: center right;
    }
  }

  .location-info { display:grid; gap:20px;
    grid-template-columns: clamp(60px,20vw,165px) 1fr;
    .flag-holder { display: flex; align-items: center;
      img { aspect-ratio: 16/9; object-fit: cover; display:block; width:100%; border-radius: 6px; }
    }
    .location-text { display:flex; flex-wrap: wrap; align-content: space-between;
      &[row-count="1"] { align-content: center; }
    }
    .row { line-height: 120%; flex-basis: 100%;
      &.event-name { font-size:clamp(18px,2.6vw,36px); }
      &.circuit { font-size:clamp(16px,2vw,28px); }
      .km { font-size:70%; font-weight: 400; padding-left:1em; }
    }
    
  }

  // Setting styles before the active animation.

  .inner { opacity: 0.85; transition: opacity 0.25s linear; }
  .top-info,
  .location-info { opacity: 0.5; font-weight: 300; transition: font 0.4s ease-out 0.25s, opacity 0.5s linear; }
  .line { opacity:0; transform: scaleX(0.01); transform-origin: center left; transition:transform $raceAnimation ease-out; }

  .race-name { transition: font 0.3s linear; }
  &.active {
    .inner { opacity: 1; }
    .track-holder { transform:scale(1); z-index: 6; transition-delay: 0.2s;
      img { opacity: 1; transition-delay: 0.20s; }
    }
    .top-info,
    .location-info { opacity: 1; }
    .race-name { font-weight: 700; }
    .line { opacity: 1; transform: scaleX(1); }
  }
}