<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Next F1 Race</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@700&amp;display=swap" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="last-modified" content="2023-03-11@15:48:57">
    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@SavasLabs">
    <meta name="twitter:title" content="The Next F1 Race">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://thenextf1race.com/og-wide.png">
    <meta name="twitter:url" content="https://thenextf1race.com">
    <meta property="og:title" content="The Next F1 Race">
    <meta property="og:type" content="website">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://thenextf1race.com">
    <meta property="og:image" content="https://thenextf1race.com/og-wide.png">
  </head>
  <body>
    <div id="app" v-cloak>
      <header>
        <div class="inner">
          <h1>The Next F1 Race</h1>
          <div class="when"><span>is in </span><a class="next-race" @click="scrollTo(computedNextRace.raceNumber)">{{computedNextRace.raceTitle}}</a>
            <template v-if="computedNextRace.daysUntil &gt; 1"><span>in </span><strong v-text="computedNextRace.daysUntil"></strong><span> days.</span></template>
            <template v-else><span>this weekend.</span></template>
          </div>
        </div>
      </header>
      <main>
        <div class="race-grid inner">
          <section class="race" v-for="(race, raceCount) in races" :id="'Round'+(raceCount+1)"><a :name="'Stripe-'+race.title.replace(' ','')"></a>
            <div class="inner">
              <div class="top-info">
                <div class="round-holder">
                  <div class="label-and-count"><span class="label">Round</span><span class="count">{{padNumber(race.round,2)}}</span></div>
                </div>
                <div class="dates" v-html="prettyDateRange(race.startDate,race.endDate)"></div>
                <div class="line-holder">
                  <div class="line"></div>
                </div>
                <div class="laps-holder" v-if="race.laps">
                  <div class="label-and-count"><span class="count">{{padNumber(race.laps,2)}}</span><span class="label">Laps</span></div>
                </div>
              </div>
              <div class="big">
                <div class="title-holder">
                  <h2 class="title" :letters="race.title.length" :start-width="getTitleWidths(race).startWidth" :end-width="getTitleWidths(race).endWidth" :style="titleStyle(race)">{{race.title}}</h2>
                </div>
                <figure class="track-holder" :style="trackMapStyles(race.customMapWidth)">
                  <template v-if="race.trackFile"><img :src="'svg/tracks/'+race.trackFile" :alt="race.title+' track'"></template>
                </figure>
              </div>
              <div class="location-info">
                <div class="flag-holder"><img v-if="race.countryCode" :src="'svg/flags/'+race.countryCode+'.svg'"></div>
                <div class="location-text" :row-count="getRowCount(race)">
                  <div class="row event-name" v-if="race.raceName"><span class="race-name">{{race.raceName}}</span></div>
                  <div class="row circuit" v-if="race.trackName || race.km"><span class="track-name">{{race.trackName}}</span><span class="km" v-if="race.km">{{race.km}} km</span></div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
    </div>
    <div class="javascripts">
      <script src="js/libraries/vue.full.js"></script>
      <script>const testing = true;</script>
      <script src="js/libraries/moment.min.js"></script>
      <script src="js/libraries/jquery.min.js"></script>
      <script src="js/libraries/scrollmagic.min.js"></script>
      <script src="js/libraries/scrollmagic.addindicators.min.js"></script>
      <script src="js/min/site.min.js?updated2023-03-11@15:48:57"></script>
    </div>
  </body>
</html>