- const testing = true
include partials/_variables
include partials/_mixins

doctype html
html(lang="en")
  
  include partials/_head.pug
    
  body
    #app(v-cloak)

      header

        h1 f12023

      main
        .race-grid
          section.race(v-for="(race, raceCount) in races" :id="'Race'+(raceCount+1)")
            .inner
              .top-info
                .label-and-count.round-holder
                  span.label Round
                  span.count {{padNumber(race.round,2)}}
                .dates(v-html="prettyDateRange(race.startDate,race.endDate)")
                .line-holder
                  .line
                .label-and-count.laps-holder(v-if="race.laps")
                  span.count {{padNumber(race.laps,2)}}
                  span.label Laps
              .big
                .title-holder
                  h2.title(
                    :letters="race.title.length"
                    :start-width="getTitleWidths(race).startWidth"
                    :end-width="getTitleWidths(race).endWidth"
                    :style="titleStyle(race)"
                  ) {{race.title}}
                figure.track-holder(:style="trackMapStyles(race.customMapWidth)" )
                  template(v-if="race.trackFile")
                    img(:src="'svg/tracks/'+race.trackFile" :alt="race.title+' track'")
              .location-info
                .flag-holder
                  img(v-if= "race.countryCode" :src="'svg/flags/'+race.countryCode+'.svg'")
                .location-text(:row-count="getRowCount(race)")
                  .row.event-name(v-if="race.raceName")
                    span.race-name {{race.raceName}}
                  .row.circuit(v-if="race.trackName || race.km")
                    span.track-name {{race.trackName}}
                    span.km(v-if="race.km") {{race.km}} km


    include partials/_javascripts