// COLORS //////////////////////////////////////////////////////////////////////////////////
$white: #fff;
$black: #000;
$blue: #4885ed;
$red: #D31029;
$green: #17680f;
$yellow:#e9eab9;
$teal: #4e7f71;

  // COLOR UTILITIES
  $body: $white;
  $copy: $black;
  $link: $blue;
  $accent: $teal;
  $focus: $yellow;

// BRAND COLORS /////////////////////////////////////////////////////////////////////////
  $color-twitter: #55acee;
  $color-github: #181616;
  $color-facebook: #3B5998;

// FONTS ////////////////////////////////////////////////////////////////////////////////
$light:300;
$medium:400;
$bold:700;

// FONT UTILITIES /////////////////////////////////////////////////////////////////////
@font-face {
  font-family: Nickel;
  src: url('../fonts/NickelGothicV3Variable[slnt\,wdth].woff');
}
$nickel: Nickel, sans-serif;
$figtree: 'Figtree', sans-serif;
$sans-serif: $figtree;
$font-family: $sans-serif;
$number-font: 'Unbounded', sans-serif;
$headline: $nickel;

// MEASUREMENTS //////////////////////////////////////////////////////////////////////
$mobile-max: 767px;
$desktop-min: 768px;

:root {
  --gap: 20px;
  @media (min-width:941px) { --gap:80px; }
  @media (min-width: 601px) and (max-width:940px) { --gap:40px; }
}


$gap: var(--gap);